@model DeleteReviewViewModel
@{
    ViewData["Title"] = "DeleteReview";
}

<h1>DeleteReview</h1>

<div>

    <form asp-action="DeleteReview">

        <input type="hidden" asp-for="ReviewId" />

        <input type="submit" value="Delete" class="btn btn-default" />

        <a asp-action="AllReviews">Back</a>

    </form>

</div>