@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        <div class="row">
            <div class="col-12">
                <input type="submit" value="Confirm" class="btn btn-primary py-3 px-5">
            </div>
        </div>
    </header>