@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" class="form-control form-control-lg" asp-for="Input.FirstName">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" class="form-control form-control-lg" asp-for="Input.LastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="eaddress">Email Address</label>
                            <input type="text" id="eaddress" class="form-control form-control-lg" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="tel">Password</label>
                            <input type="text" id="tel" class="form-control form-control-lg" asp-for="Input.Password">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="tel">Confirm Password</label>
                            <input type="text" id="tel" class="form-control form-control-lg" asp-for="Input.ConfirmPassword">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
                        </div>
                    </div>

                </form>
            </div>

        </div>


    </div>
</div>


