@model AddAuthorViewModel

@{
    ViewData["Title"] = "AddAuthor";
}


    <form class="p-5 bg-light">
        <div class="section-title">
            <h2 class="mb-5">Add New Author</h2>
        </div>
        <div class="form-group">
            <label for="message">Author Name</label>
            <input class="form-control form-control-lg" asp-for="authorName" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Author" class="btn btn-primary py-3">
        </div>

    </form>

