@model DeleteAuthorViewModel
@{
    ViewData["Title"] = "DeleteAuthor";
}

<h1>DeleteAuthor</h1>

<div>

    <form asp-action="DeleteAuthor">

        <input type="hidden" asp-for="authorId" />

        <input type="submit" value="Delete" class="btn btn-default" />

        <a asp-action="YourAuthorsView">Back</a>

    </form>

</div>